.a1{
    background-color: black;
    color: rgb(250, 243, 243);
    padding: 15px;
    margin: 50px;
}
.b1{
    background-color: yellow;
    border-radius: 25px;
    padding: 15px 40px;
}
.c1{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 50px;
}
.d1{
    background-color: blue;
    color: white;
    border-radius: 25px;
    padding: 15px 40px;
    margin-left: 50px;
}
.e1{
    border-color: blue;
    border-radius: 25px;
    padding: 15px 40px;
    margin-left: 10px;
}
.f1{
    background-color: rgb(108, 27, 149);;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 50px;
    margin-right: 10px;
}
.g1{
    border-color: rgb(108, 27, 149);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    
}
.h1{
    background-color: rgb(227, 113, 13);
    color: white;
    padding: 10px;
    margin: 50px;
    border: 15px solid blue;
   
}
.i1{
    background-color: rgb(211, 174, 6);
    color: rgb(98, 61, 19);
    padding: 10px;
    margin: 50px;
    border: 15px solid rgb(33, 139, 111);
   
}
.j1{
    background-image: repeating-linear-gradient(blue, purple);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px 40px;
    color: white;
}
