*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s ease;
    
}
/* Header */

.header{
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p{
    font-size: 30px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.bx{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    color: tomato;
}

/* Header Hover */

a:hover{
    color: tomato;
}
/* Hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.hero-title1{
    font-weight: 700;
    font-size: 60px;
}
.hero-title2{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 8px;
}
button{
    background-color: tomato;
    padding: 10px 15px;
    font-weight: 700;
    border: 0;
    margin-top: 20px;
    transition: .5s ease;

}
img{
    width: 100%;
}
/* hero hover */
button:hover{
    cursor: pointer;
    scale: 1.2;
    color: white;
}
.header-hero{
    background-color: rgb(243, 216, 216);
}
/* featured product */

.featured-product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.feat-t-1{
    font-weight: 700;
    font-size: 35px;
    color: rgb(101, 98, 98);
}
.feat-t-2{
    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.feat-t-3{
    font-weight: 700;
    font-size: 16px;
    color: rgb(53, 52, 52);
    margin-top: 15px;
}

.main-feat{
    display: flex;
    align-items: center;
    gap: 70px;
    background-color: rgb(243, 216, 216);
    padding: 0 50px;
}
.left-product{
    padding: 0 64px;
}
.feat-title{
    align-items: center ;
    display: flex;
    flex-direction: column;

    margin: 60px;
}
.feat-title h2{
    font-size: 35px;
}
.feat-title li{
    font-size: 16px;
    list-style: none;
}
/* featured-product hover  */
.main-feat:hover{
    scale: 1.1;
    cursor: pointer;
}
/* catagory  */
.catagory{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}
.catagory p{
    background-color: rgb(243, 216, 216);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px 0;
}
.catagory p:hover{
    cursor: pointer;
}
/* product */
.product{
    width: 80%;
    margin: 0 auto;
    display: grid;
    
    grid-template-columns: auto auto auto auto;
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.item .all-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(243, 216, 216);
}
.all-img{
    width: 300px;
}
.product h3{
    margin: 5px 0;
}
/* product hover  */
.item .all-item:hover{
    scale: 1.05;
    cursor: pointer;
}
/* review-title */
.review-title{
    display: flex;
    justify-content: center;
}
.review-title h2{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* review  */
.review{
    display: flex;
    align-items: center;
    background-color: rgb(243, 216, 216);
    gap: 10px;
    padding: 10px 0;
    margin-top: 10px;
}
.review img{
    border-radius: 50%;
}
.reviewer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
/* copyright */
.copyright{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 30px 0;
    font-size: 16px;
    margin-top: 30px;
}